################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AlgoWerbApis/.vs/AlgoWerbApis
/AlgoWerbApis/bin/Debug/net8.0
/AlgoWerbApis/obj
/AlgoWerbApis/AlgoWerbApis.csproj.user
